html,
body {
	height: 100%;
}

body {
	background: linear-gradient(to right, turquoise, white);
	font-family: "Avenir", "Montserrat", sans-serif;
}

.fa-plus {
	cursor: pointer;
}

.container {
	width: 350px;
	margin: 100px auto auto;
}

h1 {
	background: steelblue;
	padding: 5px 10px;
	margin: 0;
	color: white;
	font-size: 1.5em;
	text-transform: uppercase;
}

input {
	height: 100%;
	width: 100%;
	border: none;
	box-sizing: border-box;
	padding: 10px 10px;
	color: rgb(0, 100, 255);
	background: rgb(220, 220, 220);
}

input:focus {
	box-shadow: inset 2px 0px 2px steelblue,
				inset -2px -2px 2px steelblue;
	background-color: white;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;
	font-size: 0.9em;
	padding-left: 10px;
	position: relative;
	overflow: hidden;
}

li:nth-of-type(even) {
	background: rgb(220, 220, 220);
}

span {
	margin: 0;
	height: 40px;
	width: 40px;
	background: red;
	color: white;
	text-align: center;
	float: left;
	position: absolute;
	left: -40px;
	margin-right: 10px;
	cursor: pointer;
}

li:hover span{
	cursor: pointer;
	left: 0;
	transition: 500ms;
}

li:hover {
	padding-left: 50px;
}

.completed {
	text-decoration: line-through;
	color: gray;
}